body {
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
    color: #eeeeee;
    font-size: 18px;
}

/* header properties  */
#header {
    border-bottom: 3px solid #222831;
    display: flex;
    justify-content: center;
    height: 8vh;
    background-color: #2d4059; ;
}

h1 {
    margin: 0px;
    align-self: center;
}
/* ######################################## */

/* center properties */
#center {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

h2 {
    margin-top: 5vh;
    margin-bottom: 10vh;
    color: #2d4059;
    font-size: 30px;
}

.moves {
    display: flex;
    gap: 17vh;
}

img {
    width: 15vh;
    height: 15vh;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: center;
    align-items: center;
    border: 5px solid #222831;
    border-radius: 15px;
    height: 23vh;
    background-color: #ff5722;
}


.card:hover{
    box-shadow: 15px 10px 8px #ff5722;
    transform: scale(1.1);
}

.green {
    background-color: #0f760d;
}

.blue {
    background-color: #0d0e76;
}

.grey {
    background-color: #2d4059;
}

.green:hover {
    box-shadow: 10px 10px 8px #0f760d;
}

.blue:hover {
    box-shadow: 10px 10px 8px #0d0e76;
}

.grey:hover {
    box-shadow: 10px 10px 8px #2d4059;
}
/* ################################# */


/* buttons */
.buttons {
    margin-top: 10vh;
    width: 57vh;
    display: flex;
    justify-content: center;
}

.button {
    height: 5vh;
    width: 19vh;
    border-radius: 5px;
    border: 3px solid #222831;
    background-color: #2d4059;
    color: #eeeeee;
    font-size: 20px;
    box-shadow: 3px 3px 3px #2d4059;
}

.button:hover {
    transform: scale(1.02);
}
.button:active {
    transform: scale(0.95);
}